Comman Error In Python

In [1]:
import sys
print(sys.version)

3.7.4 (default, Aug 13 2019, 15:17:50)
[Clang 4.0.1 (tags/RELEASE_401/final)]

In [2]:
# Print string as error message

frint("Hello, Python!")

#print("Hello Python !!")

NameError: name 'frint' is not defined

In [3]:
# Try to see build in error message

print("Hello, Python!)

#print("Hello, Python!")

SyntaxError: EOL while scanning string literal (<ipython-input-3-ecf8d067efc6>, line 3)

Integer

In [4]:
type(-12)
type(0)
type(4)

int

In [5]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

<h3 id="convert">Converting from one object type to a different object type</h3>

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [6]:
# Convert 2 to a float

float(2)

2.0

In [7]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [8]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [9]:
# Convert a string into an integer

int('1')

1

<p>But if you try to do so with a string that is not a perfect match for a number, you'll get an error. Try the following:</p>

In [10]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [11]:
# Convert the string "1.2" into a float

float('1.2')

1.2

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>
<hr/>

<h4>Converting numbers to strings</h4>

<p>If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?</p>

In [12]:
# Convert an integer to a string

str(1)

'1'

<p>And there is no reason why we shouldn't be able to make floats into strings as well:</p>

In [13]:
# Convert a float to a string

str(1.2)

'1.2'

<h3 id="bool">Boolean Data Types</h3>

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [14]:
# Value true

True

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [15]:
# Value false

False

False

<p>When you ask Python to display the type of a boolean object it will show <code>bool</code> which stands for <i>boolean</i>:</p>

In [16]:
# Type of True

print(type(True))
type(1)

<class 'bool'>

int

In [17]:
# Type of False

type(False)

bool

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [18]:
# Convert True to int

int(True)

1

In [19]:
# Convert 1 to boolean

bool(1)

True

In [20]:
# Convert 0 to boolean

bool(0)

False

In [21]:
# Convert True to float

float(True)

1.0

<h3 id="exer_type">Exercise: Types</h3>

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [22]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6/2)

float

<p>What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)</p>

In [23]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//2)

int

<h2 id="expressions">Expression and Variables</h2>

<h3 id="exp">Expressions</h3>

<p>Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:</p>

In [24]:
# Addition operation expression

43 + 60 + 16 + 41

# Subtraction operation expression

50 - 60

# Multiplication operation expression

5 * 5

# Division operation expression

25 / 5

5.0

In [25]:
# Division operation expression

25 / 6

4.166666666666667

<p>As seen in the quiz above, we can use the double slash for integer division, where the result is rounded to the nearest integer:

In [26]:
# Integer division operation expression

35 // 6

5

In [27]:
# Integer division operation expression

35 / 6

5.833333333333333

<h3 id="exer_exp">Exercise: Expression</h3>

<p>Let's write an expression that calculates how many hours there are in 160 minutes:

In [28]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160/60

2.6666666666666665

<p>Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [29]:
# Mathematical expression

30 + 2 * 60

150

<p>And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [30]:
# Mathematical expression

(30 + 2) * 60

1920

<h3 id="var">Variables</h3>

<p>Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:</p>

In [31]:
# Store value into variable

x = 43 + 60 + 16 + 41
x

160

In [32]:
y = x/60
y

2.6666666666666665

<p>If we save a value to an existing variable, the new value will overwrite the previous value:</p>

In [33]:
x = 120

y = x // 60
y

2

<p>It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:</p>

In [34]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [35]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

<p>In the cells above we added the length of three albums in minutes and stored it in <code>total_min</code>. We then divided it by 60 to calculate total length <code>total_hours</code> in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.</p>

In [36]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

<p>If you'd rather have total hours as an integer, you can of course replace the floating point division with integer division (i.e., <code>//</code>).</p>

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>

<p>What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code></p>

In [37]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3+2*2
x

7

<p>What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?</p>

In [38]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

y = (3+2)*2
y

10

<p>What is the value of <code>z</code> where <code>z = x + y</code>?</p>

In [39]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

z  = x+y

z

17